body{
    background-color: dimgray;
    color:dodgerblue;

}

h1{
    color: rgb(221, 215, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
